header {

    background: #d9e4ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    display: flex;
    align-items: center;
    gap: 2px; /* Increased spacing between menu items */
  }
  
  .menu-item {
    position: relative;
    padding: 15px 20px; /* Increased padding for each menu item */
    font-size: 18px; /* Increased font size for menu items */
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-item.active,
  .menu-item:hover {
    color: white;
  }
  
  .menu-item.active::before,
  .menu-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B0BFE0 ;
    transform: skew(-20deg) translateX(1px);
    z-index: -1;
  }
  
  .logo {
    font-size: 24px; /* Increased font size for the logo */
    font-weight: bold;
  }
  