header {

    background: #d9e4ee;
    box-shadow: 0 0 0 ;
  }
  
/* Logo header Rotations */
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 5s linear infinite; /* Adjust speed as needed */
  }


/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking Cursor Animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Cursor Hiding Animation */
@keyframes hide-cursor {
  to {
    border-right: none;
  }
}

/* WEB BUILD Typing Animation */
.animate-webbuild {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  width: 0;
  animation: typing 1s steps(15) forwards, blink 0.6s step-end infinite, hide-cursor 0s 2.2s forwards;
  animation-fill-mode: forwards;
}

/* Slide-In Animation */
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Slide into position */
  }
}

/* Animation Class for INFOTECH */
.animate-slide-in {
  animation: slide-in 2s ease-out forwards; /* Adjust timing and easing as needed */
}


.stroke-gradient {
  stroke: url(#gradient);
}

@keyframes gradient {
  0% {
    stroke: #3B82F6; /* blue-500 */
  }
  50% {
    stroke: #8B5CF6; /* purple-500 */
  }
  100% {
    stroke: #3B82F6; /* blue-500 */
  }
}